<?xml version="1.0"?>
<robot name="hanuman" xmlns:xacro="http://ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">

        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="JL_hip_y">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JL_hip_r">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JL_hip_p">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">1.00870663</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JL_knee">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">-1.9668205</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JL_ankle_p">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">0.95811387</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JL_ankle_r">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JR_hip_y">
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <command_interface name="velocity" />
            <state_interface name="velocity" />
        </joint>

        <joint name="JR_hip_r">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JR_hip_p">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">1.00870663</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JR_knee">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">-1.9668205</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JR_ankle_p">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">0.95811387</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="JR_ankle_r">
            <command_interface name="velocity" />
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

    </ros2_control>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <xacro:property name="description_package" value="hanuman04" />
            <!-- <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type> -->
            <parameters>$(find ${description_package})/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>